@import "tailwindcss";

:root {
  --bg-color: #1d232a;
}

html,
body {
  min-height: 100%;
}

html {
  @apply transition-colors duration-200;
  background-color: var(--bg-color);
}

body {
  background-color: var(--bg-color);
}